

a:visited,
Link:visited,
a:link,
Link:link {
  text-decoration: none;
  color: black;
}

.action-button {
  background-color: #f4ce14;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.5rem;
}

.action-button:hover {
  background-color: #495e57;
  color: #eeeeee;
  border-style: solid;
  border-width: 1px;
  border-color: #edefee;
  transition: 0.2s;
}
/* Header */

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

menu {
  list-style: none;
  display: grid;
}

.navbar {
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}

.burger-nav {
  display: none;
}

.burger-btn {
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-items: center;
  align-items: center;
}

.burger-icon {
  width: 20px;
  height: 20px;
}

.navbar > li,
.navbar > a,
.navbar > Link {
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
}

.navlink:hover {
  background-color: #f4ce14;
  transition: 0.25s;
  border-radius: 1rem;
}

.mobile {
  display: none;
}

.navbar.closed {
  transform: translateY(-100%);
  transition: transform 0.3s ease-out;
}

.navbar.open {
  transform: translateY(0);
  transition: transform 0.5s ease-in;
}

/* About */
.call-to-action {
  background-color: #495e57;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.25rem 5rem 1.2rem 5rem;
  margin-top: -1.4rem;
}

.call-to-action > .hero-text > h1 {
  font-size: 3rem;
  margin: 0;
}

.hero-image {
  max-height: 17rem;
  padding-left: 2rem;
}

.hero-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Menu */
.specials {
  padding: 2rem 5rem 0 5rem;
  animation-duration: 0.33s;
  animation-timing-function: ease-in-out;
  animation-name: slideDownFade;
}

.specials-topbar {
  align-items: center;
  margin-bottom: 2rem;
}

.specials-topbar > h1 {
  font-size: 2.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.specials-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
}

.menu-card {
  background-color: #edefee;
  padding-bottom: 1rem;
}

.menu-card > img {
  height: 25vh;
  width: 100%;
  object-fit: cover;
}

.menu-card-content {
  margin: 0.5rem 2rem 1rem 2rem;
}

.menu-card-content > h1 {
  font-size: 2.2rem;
  margin: 0;
}

.menu-card-content > h3 {
  font-size: 1.8rem;
  margin: 0;
}

.special-button {
  background-color: #f4ce14;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.special-button:hover {
  background-color: #495e57;
  color: #eeeeee;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
  transition: 0.2s;
}

.specials-carousel {
  display: none;
}

/* Testi */
.testimonials {
  padding: 0 5rem 2rem 5rem;
  animation-duration: 0.33s;
  animation-timing-function: ease-in-out;
  animation-name: slideDownFade;
}

.testimonials-topbar > h1 {
  text-align: center;
  font-size: 3rem;
  margin: 4rem 0 1rem 0;
}

.testimonials-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 2vw;
  align-items: center;
}

.testimonial-card {
  background-color: #edefee;
  padding: 1rem 1rem 0 1rem;
}

.testimonial-card > img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.testimonials-carousel {
  display: none;
}

.specials-carousel {
  margin: 0 2rem 0 2rem;
}

/* Description */
.description {
  background-color: #f4ce14;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.25rem 5rem 2.5rem 5rem;
  min-height: 22rem;
  margin-bottom: -1rem;
  grid-gap: 25vw;
}

.description > .hero-text > h1 {
  font-size: 3rem;
  margin: 0;
}

.description-subtext {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.double-image {
  max-height: 18rem;
  position: relative;
  top: 4rem;
  left: 2rem;
}

.double-image > img {
  width: 60%;
  height: 100%;
  object-fit: cover;
}

.description-1 {
  position: relative;
  top: 0;
  left: 0;
}

.description-2 {
  position: absolute;
  top: -3.5rem;
  left: 5rem;
}

/* Footer */
footer {
  min-height: 13rem;
  background-color: #495e57;
  color: #ffffff;
  padding-bottom: 1rem;
  margin-top: -1.4rem;
}

footer > menu {
  grid-template-columns: repeat(4, 1fr);
}

.footer-header {
  margin-bottom: -1.25rem;
}

.footer-links {
  padding: 0;
  list-style: none;
}

.footer-links > a,
.footer-links > Link,
.footer-links > li {
  text-align: left;
  display: block;
  color: white;
  padding-top: 0.2rem;
  font-family: "Karla", "Sans Serif";
}

.footer-links > a:hover,
.footer-links > Link:hover {
  background-color: #495e57;
  text-decoration: underline;
}

.img-footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
}

.img-footer > img {
  max-height: 8rem;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 3rem;

  background-color: white;
  padding: 0.5rem;
}


@media screen and (max-width: 720px) {
/* Header */
  .burger-nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }

  .mobile {
    display: grid;
    grid-template: auto auto auto auto auto auto auto / auto;
    align-items: center;
    padding-left: 0;
  }

  .web {
    display: none;
  }
}